.color{
    background-color: black;
    color : white;
    
}

.h-custum{

 min-height: 100 px;
 border-bottom: 3px solid white;
}

.b-custum{

    border: 2px solid white;
}
.btn-custum{
    border-color: red;
    color: #fff;
    box-shadow: 0 0 40px 40px black inset, 0 0 0 0 red;
    transition: all 150ms ease-in-out;
  }
  .btn-custum:hover {
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
  }

 .margine{
margin-top: 50px;

 }